{% extends 'base.html' %}

{% block title %}Thank You - For All Counseling{% endblock %}

{% block content %}
    <h2>Thank you for subscribing to our Newsletter!</h2>
    <p>You’ll receive updates and news from us soon.</p>

    <h3>How You Can Help</h3>
    <p>
        Every bit of support we receive helps.
        If you are interested in supporting our mission
        to provide high-quality mental health services to people
        going through immigration and asylum proceedings,
        please see below for all the ways you can help.
    </p>

    <a href="{% url 'home' %}" class="button">Return to Home</a>
{% endblock %}