{% extends 'base.html' %}
{% load static %}

{% block title %}
Thank You – For All Counseling
{% endblock %}

{% block content %}
<section class="thank-section">
  <div class="thank-container">

    <!-- left side: message box -->
    <div class="thank-form">
      <p><strong>Thank You for Subscribing to our Newsletter!</strong></p>
      <p><strong>You'll receive updates and news from us soon.</strong></p>

      <div class="help-box">
      <h3>How You Can Help</h3>

        <p>
          Every bit of support we receive helps.
          If you are interested in supporting our mission to provide high quality mental
          health services to people going through immigration and asylum procceedings,
          please see below for all the ways you can help.
        </p>
      </div>


    </div>

    <!-- right side: illustration -->
    <div class="thank-image">
      <img
        src="{% static 'images/dandelion.jpg' %}"
        alt="Dandelion illustration"
      >
    </div>

  </div>

  <p class="back-link"><a href="{% url 'home' %}">← Return to Home</a></p>
</section>
{% endblock %}